@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
html{
    font-family: "Inter", sans-serif;
}
:root{
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --Dark-Grey: hsl(0, 0%, 12%);
    --Off-Black: hsl(0, 0%, 8%);
    --Green: hsl(75, 94%, 57%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: var(--Off-Black); */
    background-image: url(./assets/images/674227517-64d879dee85cedffbfc764c74d546bd078166e36a3f456abaa8423085a5a2c23-d_640x360.jpg);
    object-fit: cover;
}
.container{
    /* width: 100%;
    background-color: var(--Dark-Grey); */
    max-width: 300px;
    margin: 200px auto;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile{
    border-radius: 100%;
    width: 80px;  
    height: 80px;
    object-fit: cover;
}
h2{
    margin-top: 1.5rem;
    color: var(--White);
    font-weight: 500;
    font-size: 1.5rem;
}
h4{
    margin-top: .5rem;
    color: var(--Green);
    font-weight: 400;
}
p{
    margin-top: 1.2rem;
    color: rgb(178, 170, 170);
    font-size: .8rem;
    margin-bottom: .5rem;
}
button{
    margin-top: 1rem;
    padding: 8px 0 8px 0;
    background-color: var(--Off-Black);
    box-shadow: none;
    border-radius: 5px;
    outline: none;
    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    backdrop-filter: blur(20px);
}
button a{
    color: var(--White);
    text-decoration: none;
}

@media(max-width: 300px){
    .container h2{
        font-size: 1.2rem;
    }
    .container p{
        font-size: .5rem;
    }
}